.header__motto {
	background-image: url('/images/home_page.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
}

.header-title {
	text-align: center;
	font-family: $main-font;
	font-size: $font-size-xl;
	letter-spacing: 3px;
	padding-bottom: 3.5rem;
}

.header-title-lg {
	color: $primary-color;
	font-size: larger;
}