.header__motto {
	background-image: url('/images/home_page_1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: $height-calculated;
	
	@extend.flexbox-center-center-column-nowrap;
}

.header-title {
	color: $base-color;
	font-family: $main-font;
	font-size: $font-size-xl;
	text-align: center;
	padding-bottom: $padding-md;
	text-shadow: 2px 2px 2px $color-grey;
}

.header-title-lg {
	color: $secondary-color;
	font-size: larger;
	font-style: italic;
}