// media queries navicon
@media only screen and (max-width: 1020px) {
	.navigation__navicon {
		display: block;
		font-size: $font-size-md;
		padding: 0 $padding-md;
		color: $primary-color;
		transition: all 0.5s ease-out;

		&:hover {
			color: $secondary-color;
			cursor: pointer;
		}	
	}

	.navigation__menu-item-navicon {
		box-shadow: none;
		border: 0;
		
		& input {
			border-radius: 0;
			border: none;
		}
	}

	.navigation__menu,
	.navigation__search {
		display: none;
	}
}

// media query for tablets

@media (max-width: 991px) {

	.spacing {
		padding-bottom: 0;
	}

	.gallery-item {
		width: 33.33%;
	}

	.paragraph_white-xs {
	    padding: 15px 20px;
	}

	.carousel-inner>.item>img, .carousel-inner>.item>a>img {
		height: auto;
	}

	blockquote {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 30px;

		&.paragraph {
			padding-bottom: 0;
		}
	}

	.element {
		animation: none;
		padding-top: 15px;
	}

	.reviews {
		height: auto;
	}
	

	.reviews-author,
	.reviews-author_rainer-mahlamaeki {
		animation: movement 10s linear infinite alternate;
	}

	@keyframes movement {
	 	0%, 100% {
	   		transform: scale(0.8);
 		}
  
		50% {
		    transform: scale(1.1);
		}
	}

	.parallax-window {
		display: none;
	}

	.form {
		padding-bottom: 0;
	}

	.rights-text {
		padding-left: 0;
		padding-right: 0;
	}

	.location-map {
		height: 500px;
	}
}

// media query for smarphone

@media (max-width: 767px) {

  	.header-title {
  		font-size: 35px;
  	}

  	.navigation__logo-image {
  		width: 90%;
  	}

  	.about,
  	.jury,
  	.submissions,
  	.news,
  	.partners {
  		padding-bottom: 30px;
  	}

  	.motto {
		margin-bottom: 15px;
		margin-top: 15px;
	}

  	.title {
  		font-size: 30px;
  	}

  	h2 {
  		margin-top: 30px;
  	}

  	.divider_pink {
  		width: 30px;
  		border-bottom: 3px solid $secondary-color;
  	} 
  	
  	.spacing {
  		padding-bottom: 0;
  	}

  	.paragraph {
  		font-size: $font-size-default;
  		margin-bottom: 0;
  	}

  	.sidebar {
  		padding-top: 15px;
  		padding-bottom: 15px;
  	}

  	.text-grey {
  		padding-bottom: 10px;
  	}

  	.text__absolute {
  		top: 85%;
  		font-size: 14px;
  		padding-bottom: 10px;
  	}

	.about__video {
		padding-top: 15px;
	}

	.hovereffect {
		margin-bottom: 15px;
	}

	.paragraph_white {
	    padding: 15px 20px;
	}

	.paragraph_white-xs {
		display: none;
	}

	.gallery-item {
		width: 50%;
	}

	.text-grey-md-bold {
		font-size: 20px;
	}

	.read-more-state:checked ~ .read-more-wrap .read-more-target {
		font-size: 14px;
	}

	.carousel-inner>.item>img, 
	.carousel-inner>.item>a>img {
		height: auto;
	}

	.glyphicon-menu-left:before, 
	.glyphicon-menu-right:before, {
		line-height: 203px;
	}

	.carousel-caption {
		background-color: $color-white-transp;
		padding-bottom: 0;
		padding-top: 80px;
		margin: 0 auto;
	}

	.carousel-indicators {
		bottom: -10px;
	}

	.news-block {
		padding-bottom: 30px;
	}

	.logos {
		& a {
			width: 60px;
			height: 60px;
			margin-bottom: 30px;
		}
	}

	.parallax-window {
		min-height: 200px;
	}

	.reviews {
		height: auto;
	}

	.reviews-author {
		margin-top: 10px;
	}

	blockquote {
		&.paragraph {
			margin: 10px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}


	.contact-personal {
		padding-bottom: 30px;
	}

	.form {
		padding-bottom: 0;
	}

	.text-grey-sm {
		font-size: 16px;
	}

	.input_contact, 
	.selectpicker {
		height: auto;
	}

	.button {
		font-size: 22px;
	}

	.location-map {
		height: 400px;
	}

	.footer {
		height: 150px;
	}

	.flexbox-spacebetween-center-row-wrap {
		justify-content: center;
	}

	.rights {
		order: 3;
	}

	.rights-text {
		padding-left: 0;
		padding-right: 0;
	}

	.social-icons {
		order: 2;
	}

	.image {
		display: none;
	}

	.col-xs-6 {
		&.mobile:nth-of-type(even) {
			padding-left: 7.5px;
		}

		&.mobile:nth-of-type(odd) {
			padding-right: 7.5px;
		}
	}
}


