.jury {
    padding-bottom: 50px;
}

.jury-gallery {
    display: flex;
    flex-flow: wrap row;
}

.jury-member {
	position: relative;
    width: 33.333%;
}

.jury-member__image {
    width: 100%;
    height: auto;
}

.jury-member__name {
	position: absolute;
    top: 90%;
    text-align: center;
    left: 0;
    right: 0;
}