.about {
	padding-bottom: 50px;
}

.divider {
	border-top: 3px solid #f83579;
    width: 50px;
    margin: 20px auto;
}

.title {
	text-align: center;
	font-size: $font-size-xl;
	color: $secondary-color; 
	font-family: $main-font;
	text-transform: capitalize;
}

.text {
	font-size: $font-size-h4;
	color: $base-color;
}

.paragraph {
	color: $base-color;
	font-size: $font-size-h5;
	padding-bottom: 15px;
}

.sidebar {
	background-color: #D9E8EF;
}

.spacing {
	padding: $font-size-h3 15px;
}

.conditions__video {
	height: 230px;
	width: 230px;
	background-color: $btn-primary-color;
	margin: 0 auto;
}

.timeline__item {
	padding: 15px 0;
	border-top: 1px solid $btn-primary-color;
	margin: 0 15px;
	color: $base-color;
}

.date-day {
	font-weight: 700;
}