.form {
	padding-bottom: $padding-md;
}

// contact form
.contact-form {
	padding-bottom: 50px;
}

.contact-personal {
	padding-bottom: 50px;
}

// map
.location-map {
	width: 100%;
}

.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}