section {
	padding-top: 50px;
	padding-bottom: 50px; 
}

.about-header {
	background: url('/images/overview-herow.jpg') no-repeat;
	height: 350px;
}

.about-header__motto {
	padding-top: 200px;
}

.title {
	font-size: $font-size-xl;
	color: $base-color; 
	font-family: $main-font;
	font-weight: 700;
	letter-spacing: 3px;
}

.text {
	font-size: $font-size-h4;
	color: $btn-primary-color;
}

.caption {
	color: $base-color;
	font-size: $font-size-h6;
}

.paragraph {
	color: $base-color;
	font-size: $font-size-h4;
	padding-bottom: 15px;
}

.sidebar {
	background-color: #D9E8EF;
}

.spacing {
	padding: $font-size-h3 15px;
}

.conditions,
.timeline {
	color: $base-color;
}

.timeline__item {
	padding: 15px 0;
	border-top: 1px solid $btn-primary-color;
	margin: 0 15px;
	color: $base-color;
}

.conditions__video {
	height: 230px;
	width: 230px;
	background-color: $btn-primary-color;
	margin: 0 auto;
}