.partners {
	padding-bottom: 50px;
}

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		display: inline-block;
		width: 100px;
		height: 100px;
		margin-bottom: 50px;
	}
}

.backgr_center {
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.radisson {
	background-image: url('/images/logo-partners - black/radisson.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/radisson.png');
	}
}


.e-gov {
	background-image: url('/images/logo-partners - black/e-gov.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/e-gov.png');
	}
}

.piko {
	background-image: url('/images/logo-partners - black/piko.png');

	@extend.transition;

	:hover {
		background-image: url('/images/logo-partners/piko.png');
	}
}

.nrg {
	background-image: url('/images/logo-partners - black/nrg.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/nrg.png');
	}
}

.magenta {
	background-image: url('/images/logo-partners - black/magenta.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/magenta.png');
	}
}

.umbrela {
	background-image: url('/images/logo-partners - black/umbrela.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/umbrela.png');
	}
}

.tekwill {
	background-image: url('/images/logo-partners - black/tekwill.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/tekwill.png');
	}
}

.smartvision {
	background-image: url('/images/logo-partners - black/usaid.png');

	@extend.transition;

	&:hover {
		background-image: url('/images/logo-partners/usaid.png');
	}
}

.parallax-window {
	background-color: transparent;
	min-height: 600px;
}

.element {
	animation: pulse 7s ease infinite alternate,
			   nudge 10s linear infinite alternate;
}

@keyframes pulse {
  0%, 100% {
    background-color: $primary-color;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(40px);
  }
  
  80% {
    transform: translateY(-40px);
  }
}

.author-name {
	padding-top: 20px;
}


.reviews {
	height: 350px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;

}

.reviews-text {
	width: 80%;
	font-style: italic;
}

.reviews-author {
	background-image: url("/images/ritva-viljanen.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.reviews-author_rainer-mahlamaeki {
	background-image: url("/images/rainer-mahlamaeki.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
