.news {
	padding-bottom: 50px;
}

.news__container {
	padding-bottom: 50px;
}

.news-block {
	padding-bottom: 30px;
}

.news-text {
	color: $base-color;
	font-size: $font-size-h4;
}

.read-more {
	color: $font-grey;
}

.read-more:hover {
	color: $secondary-color;
	cursor: pointer;
	text-decoration: none;
}

.carousel-indicators li {
	background-color: $secondary-color;
	border: 1px solid $secondary-color;
}

.carousel-caption {
	margin: 20px auto;
}