.submissions {
	padding-bottom: 50px;
}

.gallery {
	display: flex;
	flex-flow: wrap row;
}

.gallery-item {
	position: relative;
    width: 16.66%;
    margin: auto;
    border: 2px solid $primary-color;
    border-top: none;
    border-bottom: none;
}

.gallery-item__image {
	width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

    &:hover {
        background: $color-grey-light;
    }
}

.gallery__load-more {
    border: 1px solid $color-grey;
    margin: 50px auto 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.image-caption {
    display: inline-block;
    position: absolute;
    background-color: $color-white-transp;
    color: $primary-color;
    font-size: $font-size-xs;
    font-style: italic;
    text-shadow: 2px 2px 2px $color-grey;
    top: 80%;
    padding-right: 5px;
    padding-left: 5px;
}

a.darken {
    display: inline-block;
    background-color: $color-black;
    padding: 0;
}

a.darken img {
    display: block;

    @extend.transition;
}

a.darken:hover img {
    opacity: 0.7;
}