.button {
	background-color: $btn-primary-color;
	color: $secondary-color;
	margin: 0 auto;
	padding: 5px 50px;
	font-size: $font-size-h3;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.button:hover {
	box-shadow: 0 8px 6px -6px black;
	text-decoration: none;
	color: $primary-color;
}