.button {
	color: $secondary-color;
	margin: 0 auto;
	padding: 5px 50px;
	font-size: $font-size-h3;
	text-transform: uppercase;
	border: 2px solid $secondary-color; 
	border-radius: 24px 24px;
}

.button:hover {
	background-color: $secondary-color;
	text-decoration: none;
	border: 2px solid $secondary-color; 
	color: #fff;
}
