.navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
}

.navbar__logo-image {
	padding-left: 15px;
}

.dropdown {
	display: inline-block;
}

.dropdown-menu {
	top: 137%;
}

.menu-item {
	padding-left: 15px;
	padding-right: 15px;
	text-transform: capitalize;
	color: #fff;
}

.menu-item:hover,
.menu-item:link,
.menu-item:focus {
	color: $secondary-color;
	text-decoration: none;
	font-size: $font-size-h4;
}

.caret {
	color: #fff;
}

.form-control {
	background-color: #000;
	border-radius: 17px;
	border: 1px solid #fff;
}