.navigation {
	background-color: $color-black;
	z-index: 20;

	@extend.flexbox-spacebetween-center-row-nowrap;
}

.navigation__logo-image {
	padding: $padding-md;
}

.navigation__menu-item {
	color: $primary-color;
	font-size: $font-size-sm;
	text-transform: capitalize;
	padding-left: $padding-md;
	padding-right: $padding-md;

	@extend.transition;

	&:hover,
	&:link,
	&:focus {
		color: $secondary-color;
	}
}

.navigation__navicon {
	display: none;
	overflow: none;
}

.extendable-menu {
	background-color: $primary-color;
	width: $full-width;
}

.form_navicon {
	width: 300px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

