body {
	font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:link {
	text-decoration: none;
	color: inherit;
	outline: 0;
	outline-offset: none;
}

button,
button:hover,
button:focus,
button:link {
	outline: 0;
	outline-offset: none;
}

