.flexbox-center-center-column-nowrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;			   /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: center;
	align-content: center;
	flex-flow: column nowrap;
}

.flexbox-spacebetween-center-row-nowrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;			   /* NEW, Spec - Opera 12.1, Firefox 20+ */	
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
}

.flexbox-spacebetween-center-row-wrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;			   /* NEW, Spec - Opera 12.1, Firefox 20+ */	
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.shadow {
  -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0,0,0,0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1.5px 1.5px 1.5px 1.5px rgba(0,0,0,0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1.5px 1.5px 1.5px 1.5px rgba(0,0,0,0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.transition {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

