$main-font: ('Roboto', sans-serif);
$secondary-font: ('Open Sans', sans-serif);

$font-size-xl: 3em; //42px

$base-color: #565656; //dark grey
$primary-color: #7dafc4; //bluesh
$secondary-color: #ff00ff; //magenta

