$main-font: ('Roboto', sans-serif);
$secondary-font: ('Open Sans', sans-serif);

$font-size-xl: 3em; //42px

$base-color: #565656; //dark grey
$primary-color: #9fb5dc; //bluesh
$secondary-color: #f83579; //pink
$font-grey: #b3b3b3; //lightgrey

